

<nav class="navbar justify-content-between">
  <a class="navbar-brand">Navbar</a>


<%= form_tag movies_path, :method => 'get', :id => "movies_search" do %>
                <div class="input-group col-md-2" style="float:right; margin-top: 5pt; margin-right: 10pt;">
                      <%= text_field_tag :search, params[:search], class: 'form-control' %>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
           
                  

<% end %>


</nav>

  <body>
  <div id="products">  <%= render 'movies'  %> </div>
  </body>

<br>

<%= link_to 'New Movie', new_movie_path %>
<p id="notice"><%= notice %></p>